<h1>welcome to CACI WEBAPP</h1>

<div class="footer-newsletter">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-6">
          <h4>Join Our Newsletter</h4>
          <p>Sign up for our monthly Newsletter</p>
          <form action="subscribed/" method="post">
            {% csrf_token %}
            <input type="email" name="email"><input type="submit" value="Subscribe">
          </form>
        </div>
      </div>
    </div>
  </div>
